
        /* ** prototype page ** */
        /* =====================*/

/* header prototype page  */
.prototype header h1{
    font-size: 7em;
    letter-spacing: -2px;
    padding-right: .4em;
    background-color: var(--hoofd-color-prototype);
}


    /* Navigation menu */
.prototype header nav{
    background-color: var(--hoofd-color-prototype);
}

.prototype header nav button{
    background-color: var(--secondary-color-prototype);
}



    /* hoofd section prototype page  */
.prototype main section h2{
    text-decoration: underline var(--hoofd-color-prototype);
}

.prototype main section:nth-of-type(1) img{
    position: absolute;
    left: 18.7cm;
    top: 1.2cm;
}
.prototype main section:nth-of-type(1) nav{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
}

.prototype main section nav a{
    color: var(--hoofd-color-prototype);
    text-decoration-color: var(--secondary-color-prototype);
}

.prototype main section nav a::before{
    background-color: var(--hoofd-color-prototype);
}



    /*  main simpelespel page  */
    /* ======================*/

    /* background circles */
.prototypecircle{
    background-color: var(--secondary-color-prototype);
    position: absolute;
    right: 7%;
    top: 13%;
    z-index: -1;

    width: 30em;
    height: 30em;
    border-radius: 30em;

    animation-name: flying3;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}
.prototypecircle img{
    width: 14em;

    position: absolute;
    right: 26%;
    top: 15%;
}

.prototype main section:nth-of-type(n+2) h4{
    color: var(--hoofd-color-prototype);
    margin: 0;

    font-family: var(--hoofd-font);
    font-size: 1.5em;
}

.prototype main section:nth-of-type(n+3){
    display: grid;
    grid-template-rows: 2em auto;
}

.prototype main section:last-of-type{
margin-bottom: 8em;
}

.prototype main section:nth-of-type(n+2) h4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.prototype main section:nth-of-type(n+2) p{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

.prototype main section:nth-of-type(n+2) img{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;

    width: 100%;
}

.scrollimages{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;

    display:flex;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior:none;
    gap:10px;
}

.scrollimages img{
    scroll-snap-align: center;
}

.prototype main section:nth-of-type(n+2) nav{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
}

    /* works nav*/
.prototype main>nav{
    background-color: var(--hoofd-color-prototype);
}

.prototype main>nav button{
    background-color: var(--hoofd-color-prototype);
}

