        /* ========================*/
        /*= met custom properties =*/
        /* ======================== */
:root{
    /* font */
    --hoofd-font: Arial, Helvetica, sans-serif ;
    --hover-font-color: black;
    --basis-font-color: white;

    /* background */
    --background-color: rgb(32, 32,32);


    /* home page */
    --hoofd-color-home: rgb(110, 225, 225);
    --secondary-color-home: rgb(110, 225, 225, 0.3);

    /* work page  */
    --hoofd-color-works: rgb(255, 222, 161);
    --secondary-color-works: rgb(255, 222, 161, 0.3);

    /* kunstsite page  */
    --hoofd-color-kunstsite: rgba(255, 102, 178);
    --secondary-color-kunstsite: rgb(255, 153, 204, 0.3);

    /* simpele spel page  */
    --hoofd-color-simpelespel: rgba(186,85,211);
    --secondary-color-simpelespel: rgb(238,130,238, 0.3);

    /* prototype page  */
    --hoofd-color-prototype: rgba(0,204,102);
    --secondary-color-prototype: rgb(102,255,178, 0.3);

    /* UX disign */
    --hoofd-color-uxdesign: rgba(166,124,82);
    --secondary-color-uxdesign: rgb(160,82,45, 0.3);

    /* about page */
    --hoofd-color-about: rgba(128,128,128);
    --secondary-color-about: rgba(128, 128, 128, 0.3);
} 

@media (prefers-color-scheme: light){
    :root{
    /* font */
    --hoofd-font: Arial, Helvetica, sans-serif ;

    --hover-font-color: white;
    --basis-font-color: black;

    --background-color: white;
    }

}


        /* ======================*/
        /* === appear effect  ===*/
        /* ======================*/
@keyframes appeareffect{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

section:nth-of-type(n+2).appear{
    animation-name: appeareffect;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: .5s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}






        /* =========================*/
        /* === Algemene stijlen  ===*/
        /* =========================*/
body{
    height: 100%;
    width: 100%;
    margin: 0;

    background-color: var(--background-color);
}




        /* ============================*/
        /* === background circles   ===*/
        /* ============================*/

.circles{
    pointer-events: none;
}

.circles .circle1{
    /* POSITION  */
    position: absolute;
    width: 5em;
    height: 5em;

    /* BOX STYLING */
    background-color: var(--secondary-color-home);
    border-radius: 5em;

    /* ANIMATIE */
    animation-name: flying;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-timing-function: ease-in-out;
    animation-duration: 20s;
    animation-delay: -2s;
}

@keyframes flying{
    0%{ 
        right: 0%;
        top: 50%;
        opacity: 0%;
    }
    50%{
        opacity: 100%;

    }
    100%{
        right: 50%;
        top: 0%;
        opacity: 0%;
    }
}

.circles .circle2{
    /* POSITION  */
    position: absolute;

    /* BOX STYLING */
    background-color: var(--secondary-color-home);

    /* ANIMATIE */
    animation-name: flying2;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-delay: -2s;
}

@keyframes flying2{
    0%{ 
        width: 10em;
        height: 10em;
        border-radius: 10em;
        left: 0%;
        top: 50%;
        opacity: 0%;
    }
    50%{
        opacity: 100%;

    }
    100%{
        width: 20em;
        height: 20em;
        border-radius: 20em;
        left: 50%;
        top: 0%;
        opacity: 0%;
    }
}

.circles .circle3{
    /* DISPLAY  */
    width: 30em;
    height: 30em;

    /* POSITION  */
    position: absolute;
    right: 7%;
    top: 22%;

    /* BOX STYLING */
    border-radius: 30em;
    background-color: var(--secondary-color-home);

    /* ANIMATIE */
    animation-name: flying3;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}


.circle3 img{
    /* POSITION  */
    position: absolute;
    right: 25%;
    top: 5%;
    width: 17em;

    grid-column-start: 3;
    grid-row-start: 2;

    animation: none;
}

@keyframes flying3{
    0%{ 
        width: 10em;
        height: 10em;
        border-radius: 10em;
        opacity: 0%;
    }
    100%{
        width: 30em;
        height: 30em;
        border-radius: 30em;
        opacity: 100%;
    }
}

.circles .circle4{
    /* POSITION  */
    position: absolute;
    left: 15%;
    top: 45%;

    /* BOX STYLING */
    background-color: var(--secondary-color-home);

    /* ANIMATIE */
    animation-name: flying4;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-delay: -2s;
}

@keyframes flying4{
    0%{ 
        width: 20em;
        height: 20em;
        border-radius: 20em;
        opacity: 0%;
    }
    50%{
        width: 10em;
        height: 10em;
        border-radius: 10em;
        opacity: 100%;
    }
    100%{
        width: 20em;
        height: 20em;
        border-radius: 20em;
        opacity: 0%;
    }
}





        /* =======================*/
        /* === header stijlen  ===*/
        /* =======================*/

        /* page title */
        /* ==========*/
header h1{

    /* TYPOGRAPHY */
    font-family: var(--hoofd-font) ;
    font-size: 10em ;
    color: var(--background-color);
    letter-spacing: 1.5vw;
    text-indent: .3cm;
    writing-mode: vertical-lr;
    transform: rotate(.5turn);

    /* DISPLAY  */
    margin: 0;
    display: flex;
    align-items: flex-end;
    width: .92em;
    height:100%;

    /* POSITION  */
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;

    /* BOX STYLING */
    background-color: var(--hoofd-color-home);

}





    /* ================*/
    /* Navigation menu */
    /* ================*/

header nav{
    /* DISPLAY  */
    height: 25em;
    width: 3em;

    /* POSITION  */
    position: fixed;
    right: 3em;
    top: 0;

    padding: 0;

    /* BOX STYLING */
    background-color: var(--hoofd-color-home);

    transform: translateY(-100%);
    transition:0.5s; 
}

header nav button{
    /* TYPOGRAPHY */
    font-size: .8em;
    font-weight: bold;
    color: var(--basis-font-color);

    /* POSITION  */
    position: absolute;
    bottom: -1.9em;
    margin: 0;
    padding: .4em;

    cursor: pointer;

    /* BOX STYLING */
    background-color: var(--hoofd-color-home);
    border:none;
}

header nav button:hover{
    color: var(--hover-font-color);
    background-color: var(--hoofd-color-home);
}

header nav ul{
    /* TYPOGRAPHY */
    writing-mode: vertical-lr;
    transform: rotate(.5turn);

    /* DISPLAY  */
    margin: 0;

    padding: 0 1em ;
    height: 100%;

    display: flex;
    justify-content: space-around;
}

header nav.toonNavmenu{
    transform: translateY(0%);
}


header nav ul li{
    list-style: none;
    outline: none;
}

header nav ul li a{
    /* TYPOGRAPHY */
    font-family: var(--hoofd-font) ;
    text-decoration: none;
    color: var(--hover-font-color);
}

header nav ul li:focus,
header nav ul li:hover{
    font-weight: bold;
    text-decoration: underline overline;
}







    /* =====================*/
    /* === main stijlen  ===*/
    /* =====================*/
main section{
    /* DISPLAY  */
    width: 100%;

    display: grid;
    grid-template-columns: 13% 1fr 1fr 13%;
    grid-template-rows: 12em auto;
    grid-column-start: 2;
    gap: 1.5em;
}

main section h2{
    /* TYPOGRAPHY */
    font-family: var(--hoofd-font) ;
    color: var(--basis-font-color);
    font-weight: bold;  
    text-decoration: underline var(--hoofd-color-home);
    font-size: 3em;

    /* DISPLAY  */
    margin: 0;

    /* POSITION  */
    margin-bottom: .5em;
    grid-column-start: 2;
    grid-row-start: 2;
}

main section p{
    /* TYPOGRAPHY */
    color: var(--basis-font-color);
    font-size: 20px;

    /* DISPLAY  */
    margin: 0;

    /* POSITION  */
    line-height: 25px;
    grid-column-start: 2;
    grid-column-end: 3;
}

main section p:nth-of-type(1){
    grid-row-start: 3;
}

main section p:nth-of-type(2){
    grid-row-start: 4;
}

main section p:nth-of-type(3){
    grid-row-start: 5;
}














        /* ========================*/
        /*=  WORKS page stijlen   =*/
        /* ========================*/

    /* header works page  */
.worksheader h1{
    /* TYPOGRAPHY */
    letter-spacing: -.10cm;

    /* BOX STYLING */
    background-color: var(--hoofd-color-works);
}



    /* =====================*/
    /*=  WORKS  circles  =*/
    /* =====================*/
.works .circles .circle1{
    background-color: var(--secondary-color-works);
}

.works .circles .circle2{
    background-color: var(--secondary-color-works);
}

.works .circles .circle3{
    background-color: var(--secondary-color-works);
}

.works .circle3 img{
    position: absolute;
    right: 22%;
    top: 20%;
}

.works .circles .circle4{
    background-color: var(--secondary-color-works);
}


        /* =============================*/
        /*=  WORKS  Navigation menu    =*/
        /* =============================*/
.works header nav{
    background-color: var(--hoofd-color-works);
}

.works header nav button{
    background-color: var(--secondary-color-works);
}


        /* ================*/
        /*=  WORKS  main  =*/
        /* ================*/

.works main section h2{
    text-decoration: underline var(--hoofd-color-works);
}

.works main section p{
    margin-bottom: 9.5em;
}


        /* =====================*/
        /*=  WORKS sub navigatie  =*/
        /* =====================*/
.works main section nav{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;

    margin-bottom: 2em;
}

.works main section nav ul{
    padding: 0;
    margin: 0;
    list-style: none;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
}

.works main section nav ul li:nth-of-type(2n+1){
    grid-column-start:1 ;
    grid-column-end: 2;
}

.works main section nav ul li:nth-of-type(2n){
    grid-column-start: 2;
    grid-column-end: 3;
}

.works main section nav ul li a{
    font-size: 25px;
    text-decoration: none;
    color: var(--hoofd-color-works);

    display: block;
    position: relative;
    overflow: hidden;

    margin-bottom: .3em;
}

.works main section nav ul li a::after{
    content: "";
    width: 100%;
    height: .2em;

    border-radius: 1em;

    background-color: var(--hoofd-color-works);

    position: absolute;
    top: 40%;
    margin-left: .5em;

    transform-origin: left;
    transform:scalex(0);
    transition: .6s;
}

.works main section nav ul li a:hover::after{
    transform:scalex(1);
}

.works main section nav ul li img{
    width: 100%;
    height: auto;
}





















        /* ====================================*/
        /* ==  WORKS pages algemene stijlen  ==*/
        /* ====================================*/

        /* ** kunstsite page ** */
        /* =====================*/

    /* header kunstsite page  */
.kunstsite header h1{
    letter-spacing: -5px;
    background-color: var(--hoofd-color-kunstsite);
}


    /* Navigation menu */
.kunstsite header nav{
    background-color: var(--hoofd-color-kunstsite);
}

.kunstsite header nav button{
    background-color: var(--hoofd-color-kunstsite);
}



    /* hoofd section kunstsite page  */
.kunstsite main section h2{
    text-decoration: underline var(--hoofd-color-kunstsite);
}

.kunstsite main section:nth-of-type(1) img{
    position: absolute;
    left: 18.7cm;
    top: 1.2cm;
}
.kunstsite main section:nth-of-type(1) nav{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
}

main section nav a{
    font-family: var(--hoofd-font);
    font-size: 20px;
    color: var(--hoofd-color-kunstsite);
    text-decoration: underline dotted;
    text-decoration-color: var(--secondary-color-kunstsite);

    position: relative;
}

main section nav a::before{
    content: "";
    width: 100%;
    height: .2em;

    background-color: var(--hoofd-color-kunstsite);

    position: absolute;
    bottom: -.5em;
    margin-top: .5em;

    transform:scalex(0);
    transition: .6s;
}

main section nav a:hover::before{
    transform:scalex(1);
}

main h3{
    font-family: var(--hoofd-font);
    color: var(--basis-font-color);
    font-size: 30px;
    position: relative;
    left: 15%;
    margin-top: 5em;
    margin-bottom: 0;
    text-decoration: underline var(--basis-font-color);
}

    /*  main kunstsite page  */
    /* ======================*/

    /* background circles */
.kunstsitecircle{
    background-color: var(--secondary-color-kunstsite);
    position: absolute;
    right: 7%;
    top: 13%;

    width: 30em;
    height: 30em;
    border-radius: 30em;

    animation-name: flying3;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

.kunstsitecircle img{
    width: 17em;

    position: absolute;
    right: 22%;
    top: 25%;
}

    /* main info */
main section:nth-of-type(n+2){
    display: grid;
    grid-template-columns: 13% 1fr 1fr 5%;
    grid-template-rows: 2em auto;
}

.kunstsite main section:nth-of-type(n+3){
    display: grid;
    grid-template-rows: 2em auto;
}

.kunstsite main section:last-of-type{
margin-bottom: 8em;
}

.kunstsite main section:nth-of-type(n+2) h4{
    color: var(--hoofd-color-kunstsite);
    margin: 0;

    font-family: var(--hoofd-font);
    font-size: 1.5em;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.kunstsite main section:nth-of-type(n+2) p{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

.kunstsite main section:nth-of-type(n+2) img{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;

    width: 100%;
}

.kunstsite main section:nth-of-type(n+2) nav{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
}


main>nav{
    /* DISPLAY  */
    height: 3em;
    width: 80%;

    /* POSITION  */
    position: fixed;
    right: 0;
    bottom: 3em;

    /* BOX STYLING */
    background-color: var(--hoofd-color-kunstsite);

    transform: translateX(100%);
    transition:0.5s; 
}

main>nav.toonWorksmenu{
    transform: translateX(0%);
}

main>nav button{
    /* TYPOGRAPHY */
    font-size: .65em;
    font-weight: bold;

    writing-mode: vertical-lr;
    transform: rotate(-.25turn);

    /* POSITION  */
    position: absolute;
    left: -3.2em;
    bottom: 1.35em;
    margin: 0;
    padding: .4em;

    cursor: pointer;

    /* BOX STYLING */
    background-color: var(--secondary-color-kunstsite);
    border:none;
}

main>nav button:hover{
    color: var(--hover-font-color);
}

main>nav ul{
    /* DISPLAY  */
    margin: 0;
    padding: 1em 0 ;
    height: 100%;

    display: flex; 
    flex-flow: row;
    justify-content: space-around;

}

main>nav ul li{
    list-style: none;
    outline: none;
}

main>nav ul li a{
    /* TYPOGRAPHY */
    font-family: var(--hoofd-font) ;
    text-decoration: none;
    color: var(--hover-font-color);
    text-transform: capitalize;
}

main>nav ul li:focus,
main>nav ul li:hover{
    text-decoration: underline overline;
}



















        /* ** simpelespel page ** */
        /* =======================*/

    /* header simpelespel page  */
.simpelespel header h1{
    background-color: var(--hoofd-color-simpelespel);
    text-indent: .4cm;
}


    /* Navigation menu */
.simpelespel header nav{
    background-color: var(--hoofd-color-simpelespel);
}

.simpelespel header nav button{
    background-color: var(--hoofd-color-simpelespel);
}



    /* hoofd section simpelespel page  */
.simpelespel main section h2{
    text-decoration: underline var(--hoofd-color-simpelespel);
}

.simpelespel main section:nth-of-type(1) img{
    position: absolute;
    left: 18.7cm;
    top: 1.2cm;
}
.simpelespel main section:nth-of-type(1) nav{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
}

.simpelespel main section nav a{
    color: var(--hoofd-color-simpelespel);
    text-decoration-color: var(--secondary-color-simpelespel);
}

.simpelespel main section nav a::before{
    background-color: var(--hoofd-color-simpelespel);
}



    /*  main simpelespel page  */
    /* ======================*/

    /* background circles */
.simpelespelcircle{
    background-color: var(--secondary-color-simpelespel);
    position: absolute;
    right: 7%;
    top: 13%;

    width: 30em;
    height: 30em;
    border-radius: 30em;

    animation-name: flying3;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

.simpelespelcircle img{
    width: 12em;

    position: absolute;
    right: 32%;
    top: 7%;
}


    /* main info */
.simpelespel main section:nth-of-type(n+2) h4{
    color: var(--hoofd-color-simpelespel);
    margin: 0;

    font-family: var(--hoofd-font);
    font-size: 1.5em;
}

.simpelespel main section:nth-of-type(n+3){
    display: grid;
    grid-template-rows: 2em auto;
}

.simpelespel main section:last-of-type{
margin-bottom: 8em;
}

.simpelespel main section:nth-of-type(n+2) h4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.simpelespel main section:nth-of-type(n+2) p{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

.simpelespel main section:nth-of-type(n+2) img{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;

    width: 100%;
}

.simpelespel main section:nth-of-type(n+2) nav{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
}


.scrollimages{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;

    display:flex;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior:none;
    gap:10px;
}

.scrollimages img{
    scroll-snap-align: center;
}

    /* works nav*/

.simpelespel main>nav{
    /* BOX STYLING */
    background-color: var(--hoofd-color-simpelespel);
}

.simpelespel main>nav button{
    /* BOX STYLING */
    background-color: var(--secondary-color-simpelespel);
}

.simpelespel main>nav button:hover{
    color: var(--hover-font-color);
}

























        /* ** prototype page ** */
        /* =====================*/

/* header prototype page  */
.prototype header h1{
    font-size: 7em;
    letter-spacing: -2px;
    padding-right: .4em;
    background-color: var(--hoofd-color-prototype);
}


    /* Navigation menu */
.prototype header nav{
    background-color: var(--hoofd-color-prototype);
}

.prototype header nav button{
    background-color: var(--hoofd-color-prototype);
}



    /* hoofd section prototype page  */
.prototype main section h2{
    text-decoration: underline var(--hoofd-color-prototype);
}

.prototype main section:nth-of-type(1) img{
    position: absolute;
    left: 18.7cm;
    top: 1.2cm;
}
.prototype main section:nth-of-type(1) nav{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
}

.prototype main section nav a{
    color: var(--hoofd-color-prototype);
    text-decoration-color: var(--secondary-color-prototype);
}

.prototype main section nav a::before{
    background-color: var(--hoofd-color-prototype);
}



    /*  main simpelespel page  */
    /* ======================*/

    /* background circles */
.prototypecircle{
    background-color: var(--secondary-color-prototype);
    position: absolute;
    right: 7%;
    top: 13%;

    width: 30em;
    height: 30em;
    border-radius: 30em;

    animation-name: flying3;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}
.prototypecircle img{
    width: 14em;

    position: absolute;
    right: 26%;
    top: 15%;
}


    /* main info */
/* .prototype main h3{
    position: absolute;
    left: 15%;
    margin-top: 2em;
} */


.prototype main section:nth-of-type(n+2) h4{
    color: var(--hoofd-color-prototype);
    margin: 0;

    font-family: var(--hoofd-font);
    font-size: 1.5em;
}

.prototype main section:nth-of-type(n+3){
    display: grid;
    grid-template-rows: 2em auto;
}

.prototype main section:last-of-type{
margin-bottom: 8em;
}

.prototype main section:nth-of-type(n+2) h4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.prototype main section:nth-of-type(n+2) p{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

.prototype main section:nth-of-type(n+2) img{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;

    width: 100%;
}

.prototype main section:nth-of-type(n+2) nav{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
}


.prototype main .spelimages{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;

    display:flex;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior:none;
    gap:10px;
}

.prototype main .spelimages img{
    scroll-snap-align: center;
}

    /* works nav*/

.prototype main>nav{
    /* BOX STYLING */
    background-color: var(--hoofd-color-prototype);
}

.prototype main>nav button{
    /* BOX STYLING */
    background-color: var(--secondary-color-prototype);
}

















        /* ** ux design page ** */
        /* =====================*/

/* header ux design page  */
.uxdesign header h1{
    font-size: 8em;
    letter-spacing: -2px;
    padding-right: .3em;
    background-color: var(--hoofd-color-uxdesign);
}


    /* Navigation menu */
.uxdesign header nav{
    background-color: var(--hoofd-color-uxdesign);
}

.uxdesign header nav button{
    background-color: var(--hoofd-color-uxdesign);
}



    /* hoofd section ux design page  */
.uxdesign main section h2{
    text-decoration: underline var(--hoofd-color-uxdesign);
}

.uxdesign main section:nth-of-type(1) img{
    position: absolute;
    left: 18.7cm;
    top: 1.2cm;
}
.uxdesign main section:nth-of-type(1) nav{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
}


    /*  main ux design page  */
    /* ======================*/

    /* background circles */
.uxdesigncircle{
    background-color: var(--secondary-color-uxdesign);
    position: absolute;
    right: 7%;
    top: 13%;

    width: 30em;
    height: 30em;
    border-radius: 30em;

    animation-name: flying3;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}
.uxdesigncircle img{
    width: 22em;

    position: absolute;
    right: 14%;
    top: 10%;
}


    /* main info */
/* .uxdesign main h3{
    position: absolute;
    left: 15%;
    margin-top: 2em;
} */


.uxdesign main section:nth-of-type(n+2) h4{
    color: var(--hoofd-color-uxdesign);
    margin: 0;

    font-family: var(--hoofd-font);
    font-size: 1.5em;
}

.uxdesign main section:nth-of-type(n+3){
    display: grid;
    grid-template-rows: 2em auto;
}

.uxdesign main section:last-of-type{
margin-bottom: 8em;
}

.uxdesign main section:nth-of-type(n+2) h4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.uxdesign main section:nth-of-type(n+2) p{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

.uxdesign main section:nth-of-type(n+2) img{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;

    width: 100%;
}

.uxdesign main section:nth-of-type(n+2) nav{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
}

    /* works nav*/

.uxdesign main>nav{
    background-color: var(--hoofd-color-uxdesign);
}

.uxdesign main>nav button{
    /* BOX STYLING */
    background-color: var(--secondary-color-uxdesign);
}





















        /* ** about page ** */
        /* =====================*/

    /* header about page  */
    .about header h1{
        background-color: var(--hoofd-color-about);
    }
    
    
        /* Navigation menu */
    .about header nav{
        background-color: var(--hoofd-color-about);
    }
    
    .about header nav button{
        background-color: var(--hoofd-color-about);
    }
    
    
    
        /* hoofd section about page  */
    .about main section h2{
        text-decoration: underline var(--hoofd-color-about);
    }
    
    

    /*  main about page  */
    /* ======================*/

    /* background circles */
.aboutcircles .circle1{
    background-color: var(--secondary-color-about);
    position: absolute;

    width: 5em;
    height: 5em;
    border-radius: 5em;

    animation-name: flying;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-timing-function: ease-in-out;
    animation-duration: 20s;
    animation-delay: -2s;
}

.aboutcircles .circle2{
    background-color: var(--secondary-color-about);
        position: absolute;

    animation-name: flying2;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-delay: -2s;
}

.aboutcircles .circle3{
    background-color: var(--secondary-color-about);
    position: absolute;
    right: 7%;
    top: 13%;

    width: 30em;
    height: 30em;
    border-radius: 30em;

    animation-name: flying3;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

.aboutcircles .circle3 img{
    width: 20em;

    position: absolute;
    right: 16%;
    top: 10%;
}

.aboutcircles .circle4{
    background-color: var(--secondary-color-about);
    position: absolute;
    left: 15%;
    top: 45%;
    animation-name: flying4;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-delay: -2s;
}



    /* main info */
.about main section:nth-of-type(n+2) h4{
    color: var(--hoofd-color-about);
}

.about main section:nth-of-type(n+2){
    display: grid;
    grid-template-columns: 13% 1fr 1fr 13%;
    grid-template-rows: 6em auto;
}

.about main section:nth-of-type(n+3){
    display: grid;
    grid-template-rows: 2em auto;
}