
        /* ** ux design page ** */
        /* =====================*/

/* header ux design page  */
.uxdesign header h1{
    font-size: 8em;
    letter-spacing: -2px;
    padding-right: .3em;
    background-color: var(--hoofd-color-uxdesign);
}


    /* Navigation menu */
.uxdesign header nav{
    background-color: var(--hoofd-color-uxdesign);
}

.uxdesign header nav button{
    background-color: var(--hoofd-color-uxdesign);
}



    /* hoofd section ux design page  */
.uxdesign main section h2{
    text-decoration: underline var(--hoofd-color-uxdesign);
}

.uxdesign main section:nth-of-type(1) img{
    position: absolute;
    left: 18.7cm;
    top: 1.2cm;
}
.uxdesign main section:nth-of-type(1) nav{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
}


    /*  main ux design page  */
    /* ======================*/

    /* background circles */
.uxdesigncircle{
    background-color: var(--secondary-color-uxdesign);
    position: absolute;
    right: 7%;
    top: 13%;
    z-index: -1;

    width: 30em;
    height: 30em;
    border-radius: 30em;

    animation-name: flying3;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

.uxdesigncircle img{
    width: 22em;

    position: absolute;
    right: 14%;
    top: 10%;
}


    /* main info */
.uxdesign main section:nth-of-type(n+2) h4{
    color: var(--hoofd-color-uxdesign);
    margin: 0;

    font-family: var(--hoofd-font);
    font-size: 1.5em;
}

.uxdesign main section:nth-of-type(n+3){
    display: grid;
    grid-template-rows: 2em auto;
}

.uxdesign main section:last-of-type{
margin-bottom: 8em;
}

.uxdesign main section:nth-of-type(n+2) h4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.uxdesign main section:nth-of-type(n+2) p{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

.uxdesign main section:nth-of-type(n+2) img{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;

    width: 100%;
}

.uxdesign main section:nth-of-type(n+2) nav{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
}

.scrollimages{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;

    display:flex;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior:none;
    gap:10px;
}

.scrollimages img{
    scroll-snap-align: center;
}



    /* works nav*/
.uxdesign main>nav{
    background-color: var(--hoofd-color-uxdesign);
}

.uxdesign main>nav button{
    /* BOX STYLING */
    background-color: var(--hoofd-color-uxdesign);
}




